<script type="text/javascript" src="images/jquery.min.js"></script>
<script type="text/javascript" src="images/global.js"></script>
<!-- {if $cur eq 'index' && !$site.close_update} -->
<script type="text/javascript">
var dou_api = '{$dou_api}';
{literal}
if (typeof(json) == 'undefined') var json = '';
function jsonCallBack(url, callback) {
    $.getScript(url,
    function() {
        callback(json);
    });
}
function dou_update() {
    jsonCallBack(dou_api,
    function(json) {
        document.getElementById('douApi').innerHTML = json;
    })
}
window.onload = dou_update;
{/literal}
</script>
<!-- {/if} -->