<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{$lang.home}{if $ur_here} - {$ur_here} {/if}</title>
<meta name="Copyright" content="Douco Design." />
<link href="templates/public.css" rel="stylesheet" type="text/css">
{include file="javascript.htm"}
</head>
<body>
<div id="dcWrap"> {include file="header.htm"}
 <!-- {if !$developer_mode} -->
 <div id="dcLeft">{include file="menu.htm"}</div>
 <div id="dcMain"> {include file="handle.htm"}
  <div id="tool" class="mainBox" style="padding-top:18px;{$workspace.height}">
 <!-- {/if} -->
   <!-- {if $rec eq 'directory_check'} 目录权限检测 -->
   <h3>{$ur_here}</h3>
   <div class="directoryCheck">
    <!-- {foreach from=$writeable_list item=writeable} -->
    <dl class="{$writeable.class}">
     <dt><em>{$writeable.status_text}</em><b>{$writeable.dir}</b></dt>
     <dd>{$writeable.note}</dd>
    </dl>
    <!-- {/foreach} -->
   </div>
   <!-- {/if} -->
   <!-- {if $rec eq 'custom_admin_path'} 后台目录自定义 -->
   <div class="developer">
    <h3><a href="{$action_link.href}" class="actionBtn">{$action_link.text}</a>{$ur_here}</h3>
    <div class="box">
    <form action="{$site.root_url}cache/custom_admin_path.candel.php" method="post">
     <div class="formBasic">
      <dl>
       <dt>{$lang.tool_custom_admin_path_a}</dt>
       <dd>
        <select name="prefix">
         <option value="..">{$lang.tool_custom_admin_path_b}</option>
         <option value="">{$lang.tool_custom_admin_path_c}</option>
        </select>
        <p class="cue">{$lang.tool_custom_admin_path_d}</p>
       </dd>
      </dl>
      <dl>
       <dt>{$lang.tool_custom_admin_path_e}</dt>
       <dd>
        <input type="text" name="new_path" size="20" class="inpMain" placeholder="{$lang.tool_custom_admin_path_f}" />
        <p class="cue">{$lang.tool_custom_admin_path_g}</p>
       </dd>
      </dl>
      <dl>
       <input type="hidden" name="old_path" value="{$admin_path}" />
       <input type="hidden" name="{$session_key}" value="{$session_value}" />
       <input type="hidden" name="root_url" value="{$site.root_url}" />
       <input name="submit" class="btn" type="submit" value="{$lang.btn_submit}" />
      </dl>
     </div>
    </form>
    </div>
   </div>
   <!-- {/if} -->
  <!-- {if !$developer_mode} -->
   </div>
  </div>
  <!-- {/if} -->
 </div>
 {include file="footer.htm"} </div>
</body>
</html>